.element-rating {
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(107, 114, 128, 0.25);
}

.element-rating-calculated {
  font-weight: 700;
  font-size: 66px;
  color: #242e35;
  line-height: 1;
  margin: 0 0 20px 0;
}

.element-rating-reviews-total {
  color: rgba(107, 114, 128, 0.7);
}

.element-rating__from {
  font-size: 33px;
}

.element-rating-group-line-progress {
  width: 100%;
  height: 3px;

  background: #e5ecf1;
}

.element-rating-group-line-progress-current {
  height: 3px;
  background: #55bc51;
}

.element-rating-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.element-rating-group-counter {
  margin-right: 10px;
}
