.rating-stars {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  height: 20px;
  width: 110px;
  flex: 0 0 110px;
  position: relative;
  color: blue;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23cdcdcd'%3E%3Cpath d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z' /%3E%3C/svg%3E")
    0 repeat-x;
  background-size: 22px 20px !important;
}

.rating-stars-current {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: auto;
  max-width: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%2355bc51'%3E%3Cpath d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z' /%3E%3C/svg%3E")
    0 repeat-x;
  background-size: 22px 20px !important;
}

.reviews-list-filter {
  display: flex;
  flex-wrap: wrap;
}

.reviews-list-items-item {
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(107, 114, 128, 0.25);
}

.reviews-list-items-item-responce {
  padding: 20px;
  background: rgba(107, 114, 128, 0.05);
  box-shadow: 0 1px 5px rgba(107, 114, 128, 0.25);
}

.reviews-list-filter-field {
  display: flex;
  align-items: center;
  margin: 5px;
  font-weight: normal;
}

.reviews-list-filter-field-name {
  margin-right: 10px;
}

.reviews-list-btn-show-more {
  border: 1.5px solid transparent;
  border-radius: 0.3rem;
  padding: 20px 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: #55bc51;
  color: #fff;
}

.reviews-list-filter-field-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1.5px solid transparent;
  border-radius: 4px;
  padding: 8px;
  font: inherit;
  color: inherit;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 35px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
  box-shadow: 0 1px 5px rgba(107, 114, 128, 0.25);
}

.reviews-list-filter-field-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
  color: #55bc51;
  background-color: #fff;
  border: 1.5px solid transparent;
  border-radius: 4px;
  margin: 0 !important;

  box-shadow: 0 0.5px 5px rgba(107, 114, 128, 0.25);
}

.reviews-list-filter-field-checkbox:checked {
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.reviews-list-items-item-images {
  display: flex;
  flex-wrap: wrap;
}

.reviews-list-items-item-images-img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0.5rem;
  cursor: pointer;
}

.reviews-preview-img-dialog {
  position: fixed;
  inset: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  text-align: center;
  border: 0;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}

.reviews-preview-img-dialog-btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/20px auto no-repeat;
}

.reviews-preview-img-dialog-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
